:root {
    --white: #ffffff;
    --primary: #4B49AC;
    --x-small: 12px;
    --small: 16px;
    --medium: 20px;
    --large: 24px;
}
a, a:hover{
    color: initial;
}

.main-sidebar .nav .nav-item .nav-link{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#buyer_module0{
    padding-top: 2rem;
}
#buyer_module0 .buyer_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 7px;
}
#buyer_module0 .buyer_card.card1{
    background-color: #FF5363;
}
#buyer_module0 .buyer_card.card2{
   background-color: #FDA005;
}
#buyer_module0 .buyer_card.card3{
   background-color: #24A8FA;
}
#buyer_module0 .buyer_card.card4{
   background-color: #5170D7;
}
#buyer_module0 .buyer_card.card5{
   background-color: #7A6EFE;
}
#buyer_module0 .buyer_card .card_logo{
    width: 50%;
    text-align: center;
}
#buyer_module0 .buyer_card h4{
    color: var(--white);
    font-weight: 600;
}
#buyer_module0 .custom-y-gap{
    row-gap: 1rem;
}


#brief_list_page .brief_card{
    background-color: var(--white);
    padding: 1rem;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#brief_list_page .brief_card .brief_card_label{
    font-weight: normal;
    font-size: var(--small);
    margin-bottom: 1rem;
}
#brief_list_page .brief_card h4{
    font-size: var(--large);
}

#brief_list_page .brief_card .brief_price{
    color: var(--primary);
}
.brief_card .brief_brand, .brief_card .brief_city{
    font-size: var(--small);
}


#brief_list_page .custom-y-gap{
    row-gap: 1rem;
}
.popup_b_row{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: .5px solid #696969;
}
.popup_b_row .b_heading{
    color: var(--primary);
    margin-bottom: 0;
    font-size: var(--medium);
}
.popup_b_row p{
    color: #696969;
    margin-bottom: 0;
    font-size: var(--small);
}
.site_map_container{}
.site_map_container .site_map_header{
    padding: 2px 5px;
    display: flex;
    gap: 3rem;
    background-color: var(--primary);
}
.site_map_container .site_map_header p{
    margin-bottom: 0;
    color: var(--white);
    font-weight: 300;
}
.site_map_container .site_map_header p span{
    font-weight: 500;
}
.site_filter_card{
    background-color: var(--primary);
    padding: .5rem;
    height: 100%;
}
.add_cart_table table{
width: 100%;
overflow: scroll;
table-layout: fixed;
font-size: var(--x-small);
}
.add_cart_table table thead{
    background-color: #597EF7;
    width: 100%;
}
.add_cart_table table thead th{
    font-weight: 500;
    width: 100px;
    color: var(--white);
}
.add_cart_table table thead .small_col{
    width: 55px;
}
.add_cart_table table tbody td{
    color: #696969;
    padding: .5rem;
}
.add_cart_table table tbody .editable_col{
    background-color: #C6D1E3;
    border: .5px solid #597EF7;
}
.add_cart_table table tbody .editable_col:focus{
    outline: none;
}
